body {
        margin: 10px;
        white-space: nowrap;
        background-color: #4682B4;
      }

h1 {
  font-size: 15px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
